@font-face {
    font-family: OpenSans;
    src: url('../fonts/open-sans/OpenSans.ttf');
}

*:not(i):not(.close):not(.toast-close-button):not(.fc-icon):not(.la):not(.fa) {
    /* font-size: 100%; */
    font-family: 'OpenSans' !important;
}

.context-menu-icon-fa{
    display: list-item;
}
.context-menu-icon-fa span{
    font-weight: normal !important;
}

.context-menu-icon-fa::before{
    font-family: unset !important;
    font-style: normal !important;
    font-weight: unset !important;
}


.kt-aside__brand.kt-grid__item {
    height: 120px;
}

.logo-dashboard-long {
    width: 120px;
    max-width: 100%;
    min-width: 50px;
}

.logo-dashboard-mobile {
    max-height: 40px;
}

.kt-subheader .kt-subheader__main .kt-subheader__title {
    font-size: 14px;
}

.kt-subheader .kt-subheader__main .kt-subheader__breadcrumbs .kt-subheader__breadcrumbs-link {
    font-size: 10px;
    color: #1B1B28;
}

.kt-header .kt-header__topbar .kt-header__topbar-item .kt-header__topbar-icon svg g [fill] {
    fill: #000000;
}

.kt-pulse.kt-pulse--brand .kt-pulse__ring {
    border-color: #000000;
}

.kt-aside-menu .kt-menu__nav>.kt-menu__item>.kt-menu__heading .kt-menu__link-icon svg g [fill],
.kt-aside-menu .kt-menu__nav>.kt-menu__item>.kt-menu__link .kt-menu__link-icon svg g [fill] {
    -webkit-transition: fill 0.3s ease;
    transition: fill 0.3s ease;
    fill: rgb(202, 199, 207);
}

.kt-aside__brand-aside-toggler g [fill] {
    fill: #000000 !important;
}

.btn-brand{
    background-color: #000000;
    border-color: #000000;
}
.btn-brand:hover {
    color: #fff;
    background-color: rgb(202, 199, 207);
    border-color: rgb(202, 199, 207);
}

.btn-primary {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}

.btn-primary:hover {
    color: #fff;
    background-color: rgb(202, 199, 207);
    border-color: rgb(202, 199, 207);
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}

.btn-brand:not(:disabled):not(.disabled):active,
.btn-brand:not(:disabled):not(.disabled).active,
.show>.btn-brand.dropdown-toggle {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}

.table-bordered {
    border: 1px solid rgb(202, 199, 207);
}

.table-bordered th,
.table-bordered td {
    border: 1px solid rgb(202, 199, 207);
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 1px solid rgb(202, 199, 207);
    border-top: 0px solid rgb(202, 199, 207);
}

.dataTables_wrapper .dataTable th,
.dataTables_wrapper .dataTable td {
    color: #474747;
}

.btn-brand:hover {
    color: #fff;
    background-color: #9C999F;
    border-color: #9C999F;
}

.btn-primary:hover {
    color: #fff;
    background-color: #9C999F;
    border-color: #9C999F;
}

.form-group label {
    font-weight: bold;
    color: #9B999F;
}

.alert {
    border: 1px solid #0abb87;
}

.form-control {
    border: solid 1px grey;
    
}

table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:before {
    right: 1em;
    content: "\2191";
    color: #000000;
    font-weight: bold;
    font-size: 20px;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
    right: 0.5em;
    content: "\2193";
    color: #000000;
    font-weight: bold;
    font-size: 20px;
}

.white-space-pre-wrap {
    white-space: pre;
}

.clean-icon-table {
    padding: 0px !important;
    text-align: center;
    border-bottom: 1px solid rgb(202, 199, 207);
}

.clean-icon-table::after {
    content: none !important;
}

.clean-icon-table::before {
    content: none !important;
}

div.dataTables_processing {
    z-index: 1;
    background: #000000;
    color: white;
    text-align: center;
}

.form-group {
    margin-bottom: 5px;
}

.form-control {
   /* height: calc(1em + 1.2rem + 1px); */
    /* padding: 4px;  */
    padding-left: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.picture-profile {
    height: 110px;
    width: 110px;
    border-radius: 100px;
    min-width: 35px;
    min-height: 35px;
}

.picture-profile-span,
.picture-profile-span>img {
    border-radius: 100% !important;
}

.mw-50 {
    max-width: 50vw;
}

.kt-menu__item--open>.kt-menu__link {
    background: red !important;
}

.btn-input {
    height: calc(1em + 1.2rem + 1px);
    padding: 4px;
    color: #fff;
    background-color: #000000;
    border-color: #000000;
    min-width: 140px;
    text-align: left;
}

.status-green {
    background: green;
    color: white;
    border-radius: 5px;
    font-size: 10px;
}

.status-red {
    background: red;
    color: white;
    border-radius: 5px;
    font-size: 10px;
}

.status-gray {
    background: gray;
    color: white;
    border-radius: 5px;
    font-size: 10px;
}
.status-yellow {
    background: rgba(255, 179, 0, 0.89);
    color: black;
    border-radius: 5px;
    font-size: 10px;
}


.status-blue {
    background: rgb(0, 60, 255);
    color: white;
    border-radius: 5px;
    font-size: 10px;
}

.btn-select {
    background: #000000;
    color: white;
    text-align: center;
    border-radius: 5px;
    border: none;
    font-size: 10px;
}

.preview-document {
    width: 150px;
    height: 190px;
}

.modal {
    overflow-y: auto;
}

.color-green {
    color: #000000;
}

.kt-subheader .kt-subheader__main .kt-subheader__breadcrumbs .kt-subheader__breadcrumbs-link {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    font-size: 14px;
}

.input-group-prepend {
    height: calc(1em + 1.2rem + 1px);
}

.kt-header--fixed.kt-subheader--fixed .kt-subheader {
    height: 30px;
}

@media(min-width: 1025px) {
    #kt_content {
        padding-top: 0px;
    }
}

.container-distinct1 {
    color: #fff;
    background: rgba(190, 190, 190, 0.226);
    border: solid 1px #000000;
    border-radius: 10px;
}

.container-distinct2 {
    color: #fff;
    background: rgb(255, 255, 255);
    border: solid 1px #000000;
    border-radius: 10px;
}

.fix-table {
    border-top: 1px solid #ccc !important;
}

.quit-element {
    display: inline-block;
    color: red;
    font-size: 20px;
    background: white;
    border: none;
}

.tr-table-add-product,
.tr-table-add-product td {
    height: 45px;
    vertical-align: middle;
}

.input-for-table {
    width: 100%;
    height: 100%;
    margin: 0px;
}


/* DATATABLES FIXES */

.table-data-custom td,
.table-data-custom th {
    padding: 8px;
}

.table-data-custom tbody>tr:hover {
    background: #161634 !important;
    color: white !important;
}

.table-data-custom tbody > tr.child:hover {
    background: #161634 !important;
    color: white !important;
}

table.dataTable > tbody > tr.child:hover{
    background: #161634 !important;
    color: white !important;
}

.table-data-custom tbody>tr:hover td {

    color: white !important;
}
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:before {
    top: 0;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
    top: 0;
}


/* DATATABLES FIXES END*/

.datepicker tbody tr>td.day.selected,
.datepicker tbody tr>td.day.selected:hover,
.datepicker tbody tr>td.day.active,
.datepicker tbody tr>td.day.active:hover {
    background: #000000;
    color: #ffffff;
}

.datepicker tbody tr>td.day.today {
    position: relative;
    background: #c2cd2991 !important;
    color: #ffffff !important;
}
.item-document-cover{
    
    /* border-bottom: solid 1px #ccc; */
}
.cover-image-document{
    max-height: 80px;
}
.container-cover-doc{
    max-width: 80px;
    max-height: 80px;
    overflow: hidden;
    text-align: center;
}

.span-table-cover-item{
color: #000000;
}

.span-table-cover-item-data{
color: gray;
}
.btn-action-cover-doc{
    color: #000000;
    padding: 0px;
    font-size: 16px;
}
.btn-action-cover-doc:hover{
    color: gray;
    padding: 0px;
    font-size: 16px;
}
.btn-show-observation-document{
    padding: 5px;
    margin: 10px;
    margin-left: 0px;
}
.table-documents-cover{
    border: none !important;
}

.table-documents-cover td,.table-documents-cover th{
    border: none !important;
}
.td-invisible{
    color: rgba(255, 255, 255);
    font-size: 0px;
}
.table-documents-cover tbody>tr:hover {
    background: #f3f3f3 !important;
}
.td-vertical-top{
    vertical-align: top !important;
}
.table-documents-cover tbody td{
    border-collapse: collapse;
    border-bottom: solid 1px rgb(189, 189, 189) !important;

}
.kt-scrolltop {
    display: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 10px;
    right: 0px;
    cursor: pointer;
    z-index: 90;
    background: #000000;
    -webkit-box-shadow: 0 0 15px 1px rgba(69, 65, 78, 0.2);
    box-shadow: 0 0 15px 1px rgba(69, 65, 78, 0.2);
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 4px;
}
.btn-delete-back{
    font-size: 22px;
    color: red;
    margin-left: 30px;
}
/* .bootstrap-timepicker-widget{
    position: fixed !important;
    top: auto !important;
    margin-top: 30px !important;
} */
.none-empty:empty {
    display: none !important;
 }

.overlay-pilates{
-webkit-touch-callout: none; /* iOS Safari */
-webkit-user-select: none; /* Safari */
-khtml-user-select: none; /* Konqueror HTML */
-moz-user-select: none; /* Old versions of Firefox */
-ms-user-select: none; /* Internet Explorer/Edge */
user-select: none; /* Non-prefixed version, currently
supported by Chrome, Opera and Firefox */
}


#container-timepicker-start-edit-fix{
background: #fff;
height: 0px;
width: 5px;
display: inline-block;
width: 100%;

}
#container-timepicker-start-edit-fix .bootstrap-timepicker-widget{
    position: relative !important;
    top: auto !important;
    left: 50px !important;
    margin-top: 0 !important;
}
#container-timepicker-end-edit-fix{
background: #fff;
height: 0px;
width: 5px;
display: inline-block;
width: 100%;

}
#container-timepicker-end-edit-fix .bootstrap-timepicker-widget{
position: relative !important;
top: auto !important;
left: 50px !important;
margin-top: 0 !important;
}

.kt-portlet .kt-portlet__body{
    /* min-height: 70vh; */
}
.kt-portlet__body .container{
    margin: 0;
    min-width: 100%;
}

#kt_table_employees_shedule_filter label, #kt_table_employees_shedule_filter input{
width: 100%;
margin: 0px;
}

.unselect-text{
-webkit-touch-callout: none; /* iOS Safari */
-webkit-user-select: none; /* Safari */
-khtml-user-select: none; /* Konqueror HTML */
-moz-user-select: none; /* Old versions of Firefox */
-ms-user-select: none; /* Internet Explorer/Edge */
user-select: none; /* Non-prefixed version, currently
supported by Chrome, Opera and Firefox */
}
.tooltip{
    font-weight: bold;
    color: #000;
}
.divi-form{
    background: #000000; 
    color: rgb(114, 114, 114);
}
.form-group.input-count-money > *{
display: inline !important;

}
.input-count-money > input{
    max-width: 150px;
    float: right;
}
.container-result-cash-register{
    width: 80%;
    padding: 10px;
    border: solid 1px #000000; 
    border-radius: 5px;
    margin: 10px;
    min-height: 150px;
}
body.modal-open {
    height: auto !important;
}
.no_read{
background: #ececec;
}
.kt-notification .kt-notification__item{
border-bottom: 1px solid #dbdbdb;
}
.kt-notification__item-title{
    max-width: 250px;
    max-height: 20px;
    width: 95%;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}
.kt-notification__item-time{
    max-width: 250px;
    /* max-height: 20px; */
    width: 95%;
    /* overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis; */
}
.time-notification{
    font-size: 12px !important;
    color: #676767 !important;
    text-align: right;
    margin-top: 8px;
}
.msg-notification{
    margin-top: 6px !important;

}
#count-notifications{
    width: 100%;
    height: 100%;
    position: absolute;
    left: -25px;
    top: 10px;
    z-index: 100;
    font-weight: bold;
    padding: 5px;
    font-size: 10px;
    text-align: center;
}
.icon-font-green{
    color: green !important;
}
.icon-font-red{
    color: red !important;
}
.icon-font-yellow{
    color: rgb(209, 209, 0) !important;
}
.icon-font-orange{
    color: orange !important;
}
.icon-font-blue{
    color: rgb(0, 68, 255) !important;
}
.title-notification-modal{
   color:rgb(209, 209, 0);
   font-size: 18px;
}
.message-notification-modal{
  color: #1a1a1a;
  font-size: 15px;
}

.kt-notification__item_table{
    width: 100%;
    position: relative;
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
   
    /* border: solid 1px #000000; */
}
.kt-notification__item-title-table{
    max-height: 20px;
    width:100%;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    color: #333333;
    display: inline-block;
}
.kt-notification__item-time-table{
    max-height: 20px;
    width:100%;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    color: #646464;
    display: inline-block;
}
.kt-notification__item-icon-table{
    width: 35px;
    height: 35px;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    box-sizing: border-box;
    display: inline-block;
}
.kt-notification__item-details-table{
    width: 100%;
    cursor: pointer;
}
.kt-notification__item-icon-table i{
position: relative;
margin: auto;
top:0;
bottom: 0;
left: 0;
right: 0;
}
.table-data-custom-notifications{
    width: 100%;
    max-width: 100%;
    table-layout: fixed;
}
.btn-delete-notification{
    position: absolute;
    right: 5px;
    top: 5px;
    color: red;
    background: none;
    border: none;
}
.table-data-custom-notifications .clean-icon-table{
    border: none;
}
.buttons-excel.buttons-html5{
    margin-top: 15px;
    margin-bottom: 15px;
    background: green;
    color: #fff;
}
.buttons-excel.buttons-html5:hover{
    margin-top: 15px;
    margin-bottom: 15px;
    background: green !important;
    color: #fff!important;
}
.kt-demo-panel.kt-demo-panel--on{
    left: 0 !important;
}
.kt-demo-panel{
    width: 290px !important;
    left: -370px !important;
}
#kt_table_sessions_group_move_paginate{
    display: none !important;
}
.drag-move-session{
    padding: 5px;
    background: #c7c7c7;
    color: #000;
    border-radius: 5px;
  
}
.drag-move-session-edit{
    padding: 5px;
    background: #c7c7c7;
    color: #000;
    border-radius: 5px;
}
.drag-move-employee-to-group{
    padding: 5px;
    background: #c7c7c7;
    color: #000;
    border-radius: 5px;
    min-width:220px;
    text-align: center;
  
}
.custom-spinner-hover{
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}
.template-disable{
    display: inline;
 background: red;
 color: white;
 padding: 5px;
 border-radius: 8px;
}
.template-enable{
    display: inline;
    background: #BCCD00;
    color: white;
    padding: 5px;
    border-radius: 8px;
}
.ui-state-active-custom{
    background: #1E1E2D !important;
    color:#fff !important;
}
.ui-state-active-custom tr td{
    background: #1E1E2D !important;
    color:#fff !important;
}

.kt-login__container .kt-form .form-control {
background-color: rgb(255 255 255 / 13%) !important; 
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__heading .kt-menu__link-bullet.kt-menu__link-bullet--dot > span, .kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__link .kt-menu__link-bullet.kt-menu__link-bullet--dot > span {
    background-color: #000000 !important;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--open > .kt-menu__heading .kt-menu__link-icon svg g [fill], .kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--open > .kt-menu__link .kt-menu__link-icon svg g [fill] {
    -webkit-transition: fill 0.3s ease;
    transition: fill 0.3s ease;
    fill: #000000 !important;
}

.kt-aside .ps > .ps__rail-y {
    background: transparent;
    opacity: 1;
}

.kt-aside-menu:hover .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__heading .kt-menu__link-bullet.kt-menu__link-bullet--dot > span, .kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__link .kt-menu__link-bullet.kt-menu__link-bullet--dot > span {
    background-color: red !important;
}
.kt-aside-menu:hover .kt-menu__nav > .kt-menu__item.kt-menu__item--open > .kt-menu__heading .kt-menu__link-icon svg g [fill], .kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--open > .kt-menu__link .kt-menu__link-icon svg g [fill] {
    -webkit-transition: fill 0.3s ease;
    transition: fill 0.3s ease;
    fill: #fff !important;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--active > .kt-menu__heading .kt-menu__link-icon, .kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--active > .kt-menu__link .kt-menu__link-icon svg g [fill]{
  
    fill: #fff !important;
   
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__heading .kt-menu__link-icon, .kt-aside-menu .kt-menu__nav > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__link .kt-menu__link-icon svg g [fill]{
    fill: #fff !important;
}
.kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item.kt-menu__item--active > .kt-menu__heading .kt-menu__link-bullet.kt-menu__link-bullet--dot > span, .kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item.kt-menu__item--active > .kt-menu__link .kt-menu__link-bullet.kt-menu__link-bullet--dot > span {
    background-color: #000000;
}
.dataTables_wrapper .pagination .page-item.active > .page-link{
    background: #000000;
    color: #ffffff;
}

.dataTables_wrapper .pagination .page-item:hover > .page-link {
    background: rgb(0, 0, 60);
    color: #ffffff;
}

.show > .btn.btn-default, .btn.btn-default.active, .btn.btn-default:active, .btn.btn-default:hover {
    color: #ffffff;
    background: #000000;
    border-color: #000000;
}
.kt-nav .kt-nav__section .kt-nav__section-text {
    color: #000000;
}
.kt-font-brand {
    color: #060766 !important;
}

.kt-nav .kt-nav__item.kt-nav__item--active > .kt-nav__link .kt-nav__link-icon, .kt-nav .kt-nav__item.kt-nav__item--active > .kt-nav__link .kt-nav__link-text, .kt-nav .kt-nav__item.kt-nav__item--active > .kt-nav__link .kt-nav__link-arrow, .kt-nav .kt-nav__item:hover:not(.kt-nav__item--disabled):not(.kt-nav__item--sub) > .kt-nav__link .kt-nav__link-icon, .kt-nav .kt-nav__item:hover:not(.kt-nav__item--disabled):not(.kt-nav__item--sub) > .kt-nav__link .kt-nav__link-text, .kt-nav .kt-nav__item:hover:not(.kt-nav__item--disabled):not(.kt-nav__item--sub) > .kt-nav__link .kt-nav__link-arrow {
    color: #000000;
}
.kt-nav .kt-nav__item.kt-nav__item--active > .kt-nav__link .kt-nav__link-icon, .kt-nav .kt-nav__item.kt-nav__item--active > .kt-nav__link .kt-nav__link-text, .kt-nav .kt-nav__item.kt-nav__item--active > .kt-nav__link .kt-nav__link-arrow, .kt-nav .kt-nav__item:hover:not(.kt-nav__item--disabled):not(.kt-nav__item--sub) > .kt-nav__link .kt-nav__link-icon, .kt-nav .kt-nav__item:hover:not(.kt-nav__item--disabled):not(.kt-nav__item--sub) > .kt-nav__link .kt-nav__link-text, .kt-nav .kt-nav__item:hover:not(.kt-nav__item--disabled):not(.kt-nav__item--sub) > .kt-nav__link .kt-nav__link-arrow {
    color: #000000;
}

.btn-success {
    color: #fff;
    background-color: rgb(6, 0, 51);
    border-color: rgb(6, 0, 51);
}
.btn-outline-brand {
    color: #000000;
    border-color: #000000;
}
.btn-outline-brand:hover {
    color: #ffffff;
    background-color: #000000;
    border-color: #000000;
}
.img-change-signature{
    width: 100%;
}

.img-change-signature-img{
 max-width: 100%;
 height: auto;
 max-height: 200px;
}
.td_btn{
    width: 8%;
}

.btn-brand.disabled, .btn-brand:disabled {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}
.max200{
max-width: 200px;
}
.max160{
    max-width: 160px;
    }


.radio-question {
        height: 20px;
        width: 20px;
        vertical-align: middle;
      }

      .label-question{
font-size: 14px;
padding-top: 5px;
      }

      .span-question{
        white-space:nowrap;
 margin-top: 8px;
 margin-bottom: 8px;
 display: inline-block;
      }


      .input-answer-editable{
        display: inline-block;
        padding: 1px;
        border: solid 1px #d9d9d9;
        min-width: 140px;
        min-height: 22px;
        vertical-align: middle;
        
    }
      .delete-input-answer-editable{
        display: inline-block;
        position: relative;
        height: 20px;
        width: 20px;
        border-radius: 20px;
        color: white;
        background-color: red;
        cursor: pointer;
      }

      .divider-questions{
width: 100%;
height: 1px;
background-color: rgb(172, 172, 172);
margin-top: 10px;
margin-bottom: 10px;
      }

      .input-answer{
        display: inline-block;
        padding: 1px;
       
        min-width: 80px;
        min-height: 22px;
        vertical-align: middle;
        text-align: left;
      }

      .background-login{
        background: red;
      
    }
    
    .btn-secondary {
        background-color: transparent;
        border: 1px solid #d8dbe1;
        color: #6c7293 ;
    }
      .part-left{
  
    background-color: white;
      }
      .part-right h1,.part-right p,.part-right label,.part-right a,.part-right div,.part-right h3{
        color: white !important;
      }

  
      /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .part-left{
        height: 25%;
        width: 100%;
      }
      .part-right{
        height: 75%;
        width: 100%;
      }


    .body-login{
        display: flex;
        flex-direction: column;
      }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .part-left{
        height: 25%;
        width: 100%;
      }
      .part-right{
        height: 75%;
        width: 100%;
      }

    .body-login{
        display: flex;
        flex-direction: column;
      }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .part-left{
        height: 25%;
        width: 100%;
      }
      .part-right{
        height: 75%;
        width: 100%;
      }


    .body-login{
        display: flex;
        flex-direction: column;
      }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .part-left{
        width: 40%;
        height: 100%;

      }
      .part-right{
        width: 60%;
        height: 100%;

      }

    .body-login{
        display: flex;
        flex-direction: row-reverse;
      }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .part-left{
        width: 40%;
        height: 100%;

      }
      .part-right{
        width: 60%;
        height: 100%;
      }

    .body-login{
        display: flex;
        flex-direction: row-reverse;
      }
}  


.kt-login.kt-login--v4 .kt-login__wrapper .kt-login__container .kt-form .form-control {
    height: 46px;
    border: none;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius:50px;
    margin-top: 1.5rem;
    background: white !important;
    color: black !important;
}

.kt-aside-menu{
    background-color: red !important;
}
.kt-aside__brand {
    background-color: red !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.kt-aside{
    background: red;
}


.kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item > .kt-menu__heading .kt-menu__link-text, .kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item > .kt-menu__link .kt-menu__link-text {
    color: #fff;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item > .kt-menu__heading .kt-menu__link-bullet.kt-menu__link-bullet--dot > span, .kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item > .kt-menu__link .kt-menu__link-bullet.kt-menu__link-bullet--dot > span {
    background-color: #fff;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__heading .kt-menu__link-text, .kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link .kt-menu__link-text {
    color: #fff;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item.kt-menu__item--active > .kt-menu__heading, .kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item.kt-menu__item--active > .kt-menu__link {
    background-color: #fff;
    color: red;
    border-radius: 20px;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__heading, .kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__link {
    background-color: #fff;
    color: red;
    border-radius: 20px;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item.kt-menu__item--active > .kt-menu__heading .kt-menu__link-text, .kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item.kt-menu__item--active > .kt-menu__link .kt-menu__link-text {
    color: red;
}
.kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__heading, .kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__link-text {
    color: red;
}
.kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__heading .kt-menu__link-text, .kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__link .kt-menu__link-text {
    color: red;
}
.kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--active > .kt-menu__heading, .kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--active > .kt-menu__link {
    background-color: white;

}
.kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--active > .kt-menu__heading .kt-menu__link-text, .kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--active > .kt-menu__link .kt-menu__link-text {
    color: red;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--active > .kt-menu__heading .kt-menu__link-text, .kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--submenu.kt-menu__item--active.kt-menu__item--open > .kt-menu__link .kt-menu__link-text {
    color: white !important;
}



.kt-aside-menu .kt-menu__nav > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__heading, .kt-aside-menu .kt-menu__nav > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__link {
    background-color: red;

    color: white;
}
.kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--active > .kt-menu__heading .kt-menu__link-icon, .kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--active > .kt-menu__link .kt-menu__link-icon svg g [fill] {
    fill: red !important;
}
.kt-aside-menu:hover .kt-menu__nav > .kt-menu__item.kt-menu__item--open > .kt-menu__heading .kt-menu__link-icon svg g [fill], .kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--open > .kt-menu__link .kt-menu__link-icon svg g [fill] {
    -webkit-transition: fill 0.3s ease;
    transition: fill 0.3s ease;
    fill: #fff !important;
}
.kt-aside-menu .kt-menu__nav > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__heading .kt-menu__link-icon, .kt-aside-menu .kt-menu__nav > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__link .kt-menu__link-icon {
    fill: #fff !important;}
    .kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item.kt-menu__item--active > .kt-menu__heading .kt-menu__link-bullet.kt-menu__link-bullet--dot > span, .kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item.kt-menu__item--active > .kt-menu__link .kt-menu__link-bullet.kt-menu__link-bullet--dot > span {
        background-color: red;
    }
    .kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--active > .kt-menu__heading .kt-menu__ver-arrow, .kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--active > .kt-menu__link.kt-menu__toggle .kt-menu__ver-arrow {
        color:white;
    }
    .kt-aside-menu .kt-menu__nav>.kt-menu__item>.kt-menu__heading .kt-menu__link-icon svg g [fill], .kt-aside-menu .kt-menu__nav>.kt-menu__item>.kt-menu__link .kt-menu__link-icon svg g [fill] {
        -webkit-transition: fill 0.3s ease;
        transition: fill 0.3s ease;
        fill: #ffffff;
    }

    .color-primary{
   color: red !important;
    }
    .color-black{
        color: #000 !important;
    }
    .card {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid #ebedf2;
        border-radius: 14px;
    }
    .avatar-circle-card{
        width: 50px;
        height: 50px;
        border-radius: 50px;
    }

.flex-fill {
    flex:1;
}
.search-input{
    width: 100%;
    height: 35px;
    border: solid 1px #ccc;
    border-radius: 35px;
    padding: 8px;
  

}

.table-wilcoerp tr:hover{
    cursor: pointer;
    background-color: #cccccc65;
}
.card-item {
  padding: 30px;
  margin-top: 30px;
    }
.card-item img{
width: 100%;
height: 150px;
border-radius: 20px;
}
.card-item span{
    font-size: 18px;
    font-weight:600;
    }

    .card-item button{
       background-color: red;
       padding: 10px;
       color: white;
       border-radius: 30px;
       border: none;
       font-size: 18px;
       width: 130px;
      float: right;
      margin-top: 15px;
      font-weight:600;
        }
.btn-danger{
    background-color: red !important;
}

.form-control {

    border-radius:50px;
    border: solid 1px #ccc;
    padding: 8px;

}

.kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--active > .kt-menu__heading .kt-menu__link-icon svg, .kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--active > .kt-menu__link .kt-menu__link-icon svg {
    height: 23px;
    width: 23px;
    fill: red;
    margin-left: -2px;
}

.fix-secondary{
    color: black !important;
}

div.dataTables_wrapper div.dataTables_length select {
    width: 60px;
    display: inline-block;
    padding: 8px;
}

.picture-upload{
    max-height: 250px;
}

.image-notification{
    width: 50px;
}
#kt_table_services tr{
cursor: pointer;
}


.file-service{
    background: grey;
    color: white;
    width: fit-content;
   border-radius: 8px;
   margin-top: 10px;
}
.file-service-btn-delete{
    cursor: pointer;
}

#kt_table_1 tr {
    cursor: pointer;
}

.container-doc{
padding: 15px;
cursor: pointer;
}
.container-doc img{
    width: 100%;
}
.containert-doc-title{
    width: 100%;
    text-align: center;
    padding: 8px;
}

.container-doc-delete{
  cursor: pointer;
    }
.container-doc-delete img{
width: 20px;
}
.container-doc-delete button{
    background-color: transparent;
    border: none;
}

.kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item > .kt-menu__heading, .kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item {
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: 20px;
    margin-right: 20px;
}
.kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item > .kt-menu__heading, .kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item > .kt-menu__link {
    cursor: pointer;
    height: 36px;
    padding-left: 20px!important;
}

.select2.select2-container .select2-selection__arrow::before{
    content: none;
}
.select2.select2-container span.select2-selection{
    min-height: 36px;
}
.select2.select2-container .select2-selection__arrow{
    top: 38%;
}
.select2-container--default .select2-selection--multiple, .select2-container--default .select2-selection--single {
    border: 1px solid #ccc;
}

.form-group label.error{
    color: red;
    font-weight: 400;
}
.kt-aside .kt-aside-menu {
    margin: 0;
}
.kt-aside-menu .kt-menu__nav {
    padding: 0px;
}

.dropdown-menu > li > a > i:before, .dropdown-menu > .dropdown-item > i:before {
    line-height: 1;
}

.container-files-flex-view {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    width: 100%;
    max-width: 100%;
    padding-bottom: 10px;
}

.container-files-flex-view .file-preview-wrapper{
    margin-top: 20px;
    background: grey;
    color: white;
    flex-shrink: 0;
    border-radius: 8px;
    position:relative;
    width:120px;
    height:120px;
    padding: 0.5rem;
}
.container-files-flex-view .file-preview-wrapper img{
    border-radius:8px;
    width: 100%;
    height: 100%;
}
.container-files-flex-view .file-preview-wrapper .file-btn-delete{
    position: absolute;
    right: -10px;
    top: -10px;
    color: white;
    background: #5f5656;
    padding: 4px;
    border-radius: 50%;
    width: 27px;
    text-align: center;
    cursor: pointer;
}